*{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
h1{
    font-size: 7rem;
    margin: 0.3em 0;
    background: rgb(194,226,23);
background: linear-gradient(90deg, rgba(194,226,23,1) 0%, rgba(253,29,29,1) 27%, rgba(252,247,69,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;  
}
table{
    border-collapse: collapse;
    margin: 0 auto; 
}
td{
    word-break: break-word;
    height: 7.5rem;
    width: 7.5rem;
    border: 1px solid white;
    background-size: cover;
    padding: 5px;
    color: white;
}
.background{
    background-image: url("x-png-18.png");
}

@media screen and  (max-width: 530px){
    td{
        height: 5.5rem;
        width: 5.5rem;
        font-size: 12px;
    }
    h1{
        font-size: 6rem;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 400px){
    td{
        height: 4rem;
        width: 4rem;
        font-size: 10px;
        padding: 2px;
    }
    h1{
        font-size: 5rem;
        margin-bottom: 110px;
    }
}
